@import "styles/variables";
.Container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 50%;
	background: linear-gradient($grey 0%, $greyDark 100%);
	color: $colorText;

	.login {
		width: 50%;
		.titleContainer{
			margin-bottom: 20%;
			align-self: flex-start;
			align-items: flex-start;
			text-align: left;
			width: 80%;
			.title {
				font-weight: normal;
				font-size: 40px;
				margin: 0;
			}
			.text {
				font-size: 14px;
			
			}
		}
		.form {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-self: flex-start;
			align-items: flex-start;
			.formTitle {
				font-weight: normal;
			}
			.erroContainer {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: 20px;
				input{
					border: #E9B425 ;	
				}

				p {
					color: #E9B425;
					font-weight: bold;
					font-size: 12px;
					margin: 0;
				}
				
				.erro{
					display: flex
				}

			}
			.btnContainer {
				margin-top: 15%;
				width: 100%;
				.button {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 90%;
					align-self: flex-start;
					padding: 15px;
					border: none;
					outline: none;
					background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
					box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.15);
					color: $colorText;
					font-weight: bold;
					font-size: 12px;
					border-radius: 30px;
				
				}
			}
			.registerContainer{
				display: flex;
				align-items: center;
				text-align: center;

			}
		}
	}
}

.imgLogo {

    text-align: center;
	justify-content: flex-start;
	width: 50%;
	background-image: url("../../assets/images/img-notebook.png");
	background-position: left 50%;
	background-size: cover;
	padding: 15px;
	img{
		width: 30%;
	}
}


@media (min-width: 2560px) and (max-width:2560px) {
    .Container {
		.login {
			.titleContainer{
				.title {
					font-weight: normal;
					font-size: 40px;
					margin: 0;
				}
				.text {
					font-size: 30px;
				
				}
			}
		}
		.form {
			.formTitle {
			font-size: 30px;
			}
			.btnContainer{
				
			
				.button {
					font-size: 20px;
					height: 50px;
					
		}
	}
		.registerContainer{
			font-size: 30px;
		}
	}
	
}
	}

	@media (min-width: 768px)and(max-width: 1023px){
		.Container {
			.login {
				.titleContainer{
					margin-top: 10%;
					.title {
						font-weight: normal;
						font-size: 20px;
						margin:0px
					}
					.text {
						font-size: 10px;
					
					}
				}
			}
			.form {
				.formTitle {
				font-size: 20px;
				}
			.registerContainer{
				font-size: 10px;
			}
		}

	}
}
@media (min-width: 1024px) and (max-width:1024px) {
	.Container {
		.login {
			.titleContainer{
				.title {
					font-size: 30px;
					margin:0px
				}
				.text {
					font-size: 12px;
				
				}
			}
		}
		.form {
			.formTitle {
			font-size: 20px;
			}
		.registerContainer{
			font-size: 12px;
		}
	}

}
}

@media (max-width: 425px) {

	.Container {
		width: 100%;

		.login {
			.titleContainer{
				.title {
					font-size: 20px;
					margin:0px
				}
				.text {
					font-size: 10px;
				
				}
			}
		}
		.form {
			.formTitle {
			font-size: 20px;
			}
		.registerContainer{
			font-size: 12px;
		}
		.registerLogin{
			color: #E9B425;
		}
	}

}
.imgLogo {
display: none;
	img{
		display: none;
	}
}

}


