@import "styles/variables";
.Container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 50%;
	background: linear-gradient($grey 0%, $greyDark 100%);
	color: $colorText;

	.inputEmail{
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin-bottom: 8px;
		
	input {
        width: 100%;
        background: transparent;
        color: $colorText;
        border: 1px solid $colorText;
        outline: none;
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
        margin-right: 3%;
	}
}

	.inputPassword{
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		margin-bottom: 8px;
	
	input {
        width: 100%;
        background: transparent;
        color: $colorText;
        border: 1px solid $colorText;
        outline: none;
        border-radius: 30px;
        font-size: 0.8rem;
        padding: 15px;
		margin-top: 15px;
        margin-right: 3%;
	}
    }
	.login {
		width: 50%;
		.titleContainer{
			margin-bottom: 20%;
			align-self: flex-start;
			align-items: flex-start;
			text-align: left;
			width: 80%;
			.title {
				font-weight: normal;
				font-size: 2.5rem;
				margin: 0;
			}
			.text {
				font-size: 14px;
			
			}
		}
		.form {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-self: flex-start;
			align-items: flex-start;
			.formTitle {
				font-weight: normal;
			}
			.erroContainer {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: 20px;
				p {
					color: #E9B425;
					font-weight: bold;
					font-size: 12px;
					margin: 0;
				}
			}
			.btnContainer {
				margin-top: 15%;
				width: 100%;
				.button {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 90%;
					align-self: flex-start;
					padding: 15px;
					border: none;
					outline: none;
					background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
					color: $colorText;
					font-weight: bold;
					font-size: 12px;
					border-radius: 30px;
				
				}
			}
		}
	}
	
}

.imgLogo {

    text-align: center;
	justify-content: flex-start;
	width: 50%;
	background-image: url("../../assets/images/img-notebook.png");
	background-position: left 50%;
	background-size: cover;
	padding: 15px;
	img{
		width: 30%;
	}
}

 