.Clock {
    flex-direction: row;
    margin-top: 3%;
    .number, .spots {
        font-weight: 600;
        font-family: "quiqsand";
        font-size: 5rem;
    }
}

.clockTextContainer {
    margin: 0;
    .text {
        font-size: 12px;
        font-weight: bold;
    }
}