@import "styles/variables";

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 8px;
    input {
        border: solid 1px #FFFFFF;
        background-color: $greyInput;
        border-radius: 24px;
        height: 3rem;
        width: 19rem;
        padding: 16px;
        color: #FFFFFF;
       
    }
    img {
        padding-left: 8px;
    }
    .userActive {
        padding-right: 12%;
        background-image: url("../../../assets/images/icon-user.png");
        background-repeat: no-repeat;
        background-position: center right 5%;
        background-size: 15px;
        transition: 0s;
    }
    .passwordActive {
        padding-right: 12%;
        background-image: url("../../../assets/images/icon-password.png");
        background-repeat: no-repeat;
        background-position: center right 5%;
        background-size: 15px;
        transition: 0s;
    }
    .iconNo {
        display: none;
    }

}

.imgUser, .imgPassword {
    width: 30px;
}
@media (min-width: 2560px)and(max-width: 2560px){
    .inputContainer {
	input {
		width: 35rem;
        height: 3.5rem;
        margin-top: 10px;
        font-size:20px
	}
}
}

@media (min-width: 768px)and(max-width: 1023px){
    .inputContainer {
        input {
            width: 11rem;
            height: 1.5rem;
            margin-top: 10px;
            font-size:15px
        }
    }

}

@media (min-width: 1024px)and(max-width: 1024px){
    .inputContainer {
        input {
            width: 14rem;
            height: 1.5rem;
            margin-top: 10px;
            font-size:15px
        }
    }

}

@media (max-width: 425px) {
    .inputContainer {
        input {
            width: 12.2rem;
            height: 1.5rem;
            margin-top: 10px;
            font-size:15px
        }
    }

}
@media (max-width: 320px) {
    .inputContainer {
        input {
            width: 10rem;
            height: 1.5rem;
            margin-top: 10px;
            font-size:15px
        }
    }

}
