.climateContainer {
    padding-top: 15px;
    margin-right: 30px;
    .place {
        font-size: 12px;
    }
        span {
            font-size: 30px;
            font-weight: bold;
            margin-left: 5%;
        }
    }

    @media (min-width: 320px)and(max-width:425px){
    
        .climateContainer {
            margin-right: 6px;
            width: 100px;
            .place {
                font-size: 12px;

            }
            img{
                width: 30px;
            }
                span {
                    font-size: 20px;
                }
            }
    
    
    }

    @media(min-width: 2560px){
        .climateContainer {
            .place {
                font-size: 30px;
            }
            img{
                width: 70px;
            }
                span {
                    font-size: 50px;
                }
    
    
    
    }

    }