.headerContainer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	.logo {
		padding: 10px;	
	}
}