@import "styles/variables";


.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	
	.autentication {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background: linear-gradient(90deg, $grey 0%, $greyDark 100%);
		width: 100%;
		color: $colorText;
		font-size: 12px;
		
		.textAutentication {
			width: 50%;
			line-height: 15px;
			margin-right: 5%;
			text-align: right;
		}
		.textApplication {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-direction: row;
			justify-content: flex-end;
			width: 30%;
			.refresh {
				margin-right: 5%;
				width: 20%;
				text-align: right;
			}
			.secondsContainer{
				width: 45%;
				.seconds {
					font-size: 45px;
				}
				p {
					margin: 0;	
				}
			}
		}
	}
	.navContainer {
	    cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: $colorText;
		width: 10%;
		height: 100%;
	
		.navText {
			width: 90%;
			color: $textNav;
			font-weight: bold;
			font-size: 12px;
		}
	}
	.logContainer {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 10%;
		height: 100%;
		background-color: $greyDark;
		
		.logText {
			font-size: 12px;
			color: $colorText;
		}
	}
}
